
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body{
    background-color: #f5f1f1;
    box-sizing: border-box; 
    height: 100vh;
    
    color: #00b9f1;
}

.titulo-destaque{
    color: #3551f1;
}

// isso aqui chama reset CSS, pra tirar as bordas
/*  asterisco * antes é pra selecionar todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

/* o flex-box é uma propriedade do css para ordenar os elementos. aqui ficou na horizontal mas dá pra deixar de outras formas tambem */
/* a classe apresentacao foi criada na main do html pois é o ELEMENTO PAI do grupo que se quer alinhar */
.apresentacao{
   
    margin: 5% 25%; /*  primeiro valor horizontal, segundo vertical */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    
}

.apresentacao__conteudo__titulo{
    font-size: 60px;
    font-family: 'Rubik', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
}
 

.apresentacao__links{
    display: flex;
    align-items;
    justify-content: space-between; ;
    flex-direction: column;
    gap: 5px;
     
}
.apresentacao__links__titulo{
    font-size:24px;
    font-family: 'Rubik', sans-serif;
    color:#3551f1;
    text-align:center;
}
.apresentacao__links__botoes{
    /* background-color:#00b9f1; */
    padding: 10px 15px;   /*espaçamento entre o texto e a borda. o primeiro valor é vertical, e o segundo horizontal */
    box-sizing: border-box;
    justify-content: center;
    width: 280px;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #00b9f1;
    border-radius: 176px;
    border: 4px solid #22D4FD;
}